/* Home*/
body {
  background-color: #151515;
}

header {
  width: 100%;
  padding: 1rem 2rem 1.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header li {
  display: inline-block;
  list-style: none;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: white;
}

header li a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #FACE03;
  text-decoration: none;
}

h1 {
  font-family: 'Black Ops One', cursive;
  color: #FACE03;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
}

h1:hover {
  color: red;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center {
  text-align: center;
}

.videoclip {
  width: 95%;
  height: 600px;
  display: block;
  margin: 0 auto;
}

.linkspag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.linksinternos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 250px;
}

.redes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (40px)[3];
      grid-template-columns: repeat(3, 40px);
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  grid-column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.socials {
  width: 40px;
  height: 40px;
}

/* Discografia */
.amarillo {
  background-color: #FACE03;
}

.amarillo li {
  color: whitesmoke;
}

a:hover {
  color: black;
  text-decoration: none;
}

.titulo {
  font-size: 3rem;
  padding-top: 20px;
}

.follow {
  margin-left: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.album {
  width: 250px;
  height: 250px;
}

h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h4 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.spotify {
  display: block;
  width: 800px;
  margin: 0 auto;
}

.nombrealbum {
  padding-left: 30px;
}

/* Shows */
.rojo {
  background-color: red;
}

a:hover {
  color: black;
  text-decoration: none;
}

.nombreshow {
  font-family: 'Black Ops One', cursive;
  color: #FACE03;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[3];
      grid-template-columns: repeat(3, 400px);
  -ms-grid-rows: 400px;
      grid-template-rows: 400px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.trastienda {
  height: 400px;
  width: 400px;
}

/* Rig Rundown */
h2 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.rigsgral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 800px;
  padding: 10px;
  margin-left: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.rigs {
  padding: 50px 50px 0px 50px;
  display: inline-block;
}

.rigtxt {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: normal;
  font-size: 1rem;
  text-align: left;
}

/* Nosotros */
.integrantes {
  height: 350px;
  padding: 30px;
}

.perfiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.derecha {
  margin-right: 200px;
}

.izquierda {
  margin-left: 200px;
}

.nombres {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 30px;
}

.txtderecha {
  text-align: right;
  font-size: 1.5rem;
}

.txtizquierda {
  text-align: left;
  font-size: 1.5rem;
}
/*# sourceMappingURL=estiloscss.css.map */